<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Hello {{ name }}!</h1>
    <p>This website is for SSE Lab 5</p>
    
    <table class="centered-table">
        <tr>
            <th>Repository Name</th>
            <th>Author</th>
            <th>Date</th>
            <th>Commit Message</th>
            <th>HASH</th>
        </tr>

        {% if repos %}
            {% for repo in repos %}
                <tr>
                    {% for element in repo %}
                        {% if loop.first %}
                            <td><a href="https://github.com/{{ element }}">{{ element }}</a></td>
                        {% else %}
                            <td>{{ element }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No repository found</td>
            </tr>
        {% endif %}
    </table>
</body>
</html>
