<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <h1>Hello {{ name }}!</h1>
        <p>This website is for SSE Lab 5</p>
        <p>
            <table>
              <tr>
                <th>Repository Name</th>
                <th>Author</th>
                <th>Date</th>
                <th>Commit Message</th>
              </tr>
                {% if repos %}
                    {% for repo in repos %}
                        <tr>
                        {% for element in repo %}
                            <th>{{ element }}</th>
                        {% endfor %}
                        </tr>
		    {% endfor %}
		{% else %}
		  <p>No repository found</p>
		{% endif %}
            </table>
        </p>
        <p>
            {% if repos %}
            <ul>
                {% for i in repos %}
                    <li>{{ i }}</li>
                    {% endfor %}
            </ul>
            {% else %}
                <p>No repository found</p>
            {% endif %}
        </p>
    </body>
</html>
